<div class="main-content">

    <h2>Manage Users</h2>
    <br>
    <h4>Group Admins:</h4>


    <ul class="list-group">
        <div *ngFor="let admin of GA" class="user">
            <li class="list-group-item">{{admin.username}}</li>
            <button class="btn btn-success">Promote</button>
            <button class="btn btn-danger">Demote</button>
        </div>
    </ul>

    <br>
    <h4>Normal Users:</h4>

    <ul class="list-group">
        <div *ngFor="let user of US" class="user">
            <li class="list-group-item">{{user.username}}</li>
            <button class="btn btn-success" style="width: 40%;">Promote</button>
        </div>
    </ul>

</div>

