<div class="main-content">


    <h2>{{group.name}}</h2>

    <p>
        Add or remove channels.
    </p>

    <ul class="list-group">
        <div *ngFor="let channel of group.channels" class="channel">
            <li class="list-group-item">{{channel}}</li>
            <button class="btn btn-danger" (click)="deleteChannel(channel)">Delete</button>
        </div>
    </ul>

    <form class="new-chan">    
        <div class="input-group">
            <input type="text" class="form-control" placeholder="New Channel..." name="name" id="name" [(ngModel)]="name">
            <div class="input-group-append">
                <button (click)="newChannel()" class="btn btn-primary" type="button">Create Channel</button>
            </div>
        </div>
    </form>

    <br><br>
    <p>Add or remove users to group.</p>

    <ul class="list-group">
        <div *ngFor="let user of users.in" class="channel">
            <li class="list-group-item">{{user}}</li>
            <button class="btn btn-danger" >Remove</button>
        </div>

        <div *ngFor="let user of users.out" class="channel">
            <li class="list-group-item">{{user}}</li>
            <button class="btn btn-success" >Add</button>
        </div>
    </ul>

</div>