.main-content{
    display: flex;
    margin-top: 1em;
}

.groups{
    width: 20%;
}

.group {
    padding-top: 1em;
    padding-bottom: 1em;
}

.group:hover {
    background-color: lightblue;
    cursor: pointer;
}

.channels {
    width: 20%;
    display: none;
}

.chat{
    width: 100%;
}

.selected{
    background-color: var(--bs-primary);
    color: white;
    text-decoration: underline;
}

.show{
    display: block;
}