
form {
    width: 50%;
    margin-top: 3em;
    margin-left: 25%;
}

.form-group{
    padding: 1em;
}

#signup-button{
    width: 60%;
    margin-left: 20%;
}

.error{
    color: red;

    width: 75%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.hide{
    display: none;
}