.video img{
    width: 100%;
}

.text{
    overflow-y: scroll;
    height: 15em;
    width: 70%;
    display: inline-block;
}
.notifications{
    width: 30%;
    float: right;
    overflow-y: scroll;
    height: 15em;
}

.username {
    font-style: italic;
    color: var(--bs-primary);
}

.profile-picture {
    max-width: 3em;
    max-height: 3em;
    width: auto;
    height: auto;
    margin-right: 1em;
}

.message{
    padding-top: 0.1em;
    padding-left: 1em;
    border-bottom: darkgray solid 1px;
}