.video {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.videos {
    width: auto;
    max-width: 33.33%;
    height: auto;
    box-sizing: border-box;
    border: solid var(--bs-primary);
}

.videos video{
    width: 100%;
}

.text{
    overflow-y: scroll;
    height: 15em;
    width: 70%;
    display: inline-block;
}
.notifications{
    width: 30%;
    float: right;
    overflow-y: scroll;
    height: 15em;
}

.username {
    font-style: italic;
    color: var(--bs-primary);
}

.profile-picture {
    max-width: 3em;
    max-height: 3em;
    width: auto;
    height: auto;
    margin-right: 1em;
}

.message{
    padding-top: 0.1em;
    padding-left: 1em;
    border-bottom: darkgray solid 1px;
}

.imageMessage{
    max-height: 5em;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-left: 1em;
}