<div class="container main-content">
    <h2>Manage Groups</h2>

    <p>
        Select a group to manage. Or add a new group.
    </p>
    <ul class="list-group">
        <li *ngFor="let group of groups" class="list-group-item" (click)="manage(group.id)">{{group.name}}</li>
    </ul>

    <form class="new-group">    
        <div class="input-group">
            <input type="text" class="form-control" placeholder="New Group..." name="name" id="name" [(ngModel)]="name">
            <div class="input-group-append">
                <button (click)="createGroup()" class="btn btn-primary" type="button">Create Group</button>
            </div>
        </div>
    </form>


    
</div>